* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

:root {
    --primary-color: #1e0186;
    --secondary-color: #ca6eee;
    --tertiary-color: white;
    --quad-color: black;
    --fifth-color: rgb(141, 140, 140);
}

body {
    background: var(--tertiary-color);
    color: var(--quad-color);
    margin: 0;
    padding: 0;
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/* HEADER CONTENT */
.link-timer {
    margin: 50px auto 10px auto;
    padding-bottom: 10px;
    width: 90%;
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.link-info a {
    margin-left: 15px;
    text-align: right;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.45vw;
    font-weight: lighter;
}

.timer-info {
    margin-right: 55px;
    font-size: 1.45vw;
    font-weight: lighter;
}

/* MAIN CONTENT */

.main-content {
    margin: 0 auto;
    padding-bottom: 10px;
    min-height: 500px;
    width: 90%;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.question-content {
    border: 2px solid blue;
    margin: 10px auto; 
    padding-bottom: 20px;
    width: 85%;
    text-align: center;
    min-height: 400px;
    font-size: 20px;
    line-height: 1.2;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.question-content h2 {
    color: var(--quad-color);
    margin: 5px 0 20px;
}

.question-content p {
    color: var(--quad-color);
    font-size: 16px;
    margin: 5px 0 20px;
}

/* CREATED SPACE FOR QUESTION AND ANSWER */

.qa-container {
    border: 2px solid rgb(255, 0, 0); 
    padding: 5px 5px;
    min-height: 300px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.question-info {
    border: 2px solid rgb(157, 255, 0); 
    padding: 5px 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.question-text {
    color: var(--quad-color);
    margin: 5px 0 20px;
    text-align: left;
}

.choices-container {
    border: 2px solid rgb(255, 230, 0); 
    padding: 5px 5px;
    list-style: none;
}


/* BUTTON */
.start-btn {
    outline: none;
    border: none;
    padding: 10px 25px;
    background: var(--primary-color);
    font-size: 20px;
    border-radius: 12px;
    color: var(--tertiary-color);
}

.choice-btn {
    outline: none;
    border: none;
    padding: 10px 25px;
    width: 250px;
    background: var(--primary-color);
    font-size: 16px;
    border-radius: 12px;
    color: var(--tertiary-color);
    text-align: left;
}

.start-btn:hover,
.choice-btn:hover {
    background: var(--secondary-color);
}
 
.start-btn:active,
.start-btn:active {
    background: var(--secondary-color);
}

.answer-content {
    margin: 10px auto 5px auto; 
    width: 85%;
    text-align: left;
    line-height: 1.2;
    padding: 5px 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.answer-text {
    color: var(--fifth-color);
    margin: 15px 0 20px;
    padding-left: 10px;
    border-top: 2px solid var(--fifth-color);
    text-align: left;
}

.choices-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 5px 0;
    justify-content: space-between;
}











.task-item {
    color: var(--grey);
    padding: 15px 15px;
    border: 2px solid var(--grey);
    background: var(--tertiary);
    border-radius: 12px;
    margin-bottom: 20px;
  }